@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) manage-nav-link" id="profile" asp-page="./Index">
            <i class="bi bi-person me-2"></i> Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) manage-nav-link" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Email
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) manage-nav-link" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-key me-2"></i> Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext) manage-nav-link" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> External logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) manage-nav-link" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-2"></i> Two-factor authentication
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) manage-nav-link" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person me-2"></i> Personal data
        </a>
    </li>
</ul>
