@model AgriGreen.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div class="row mb-4">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-agrigreen">
                <h5 class="m-0">@Model.Name</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ProductionDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ProductionDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Farmer.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Farmer.Name)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    @if ((User.IsInRole("Farmer") && Model.FarmerId == (int?)ViewData["CurrentUserFarmerId"]) || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-agrigreen me-2">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                    }
                    <a asp-action="Index" class="btn btn-outline-agrigreen">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
